.file-list {
   margin: 20px 0;
   &__header {
      display: grid;
      //  Делаем разметку колонок
      grid-template-columns: 1fr 4fr repeat(4, 1fr);
   }
   &__date {
      // задаем где будет информация в нашем случае в 5 колонке
      grid-column-start: 5;
      justify-self: center;
   }
   &__name {
      // задаем где будет информация в нашем случае в 2 колонке
      grid-column-start: 2;
   }
   &__size {
      grid-column-start: 6;
      justify-self: center;
   }
}
.file-list-plate {
   display: flex;
   flex-wrap: wrap;
   margin: 20px 0;
}
.text-empty {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 26px;
   height: calc(100vh - 50px);
}
// класс который будет добавляться в компонент Transition
.item-enter-active {
   animation: 1000ms forwards item-enter;
}
// будет два ключевых кадра
@keyframes item-enter {
   from {
      opacity: 0;
      transform: translateY(-50%);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
